<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.relife">
          <!--使用和系统相同的签名
          android:sharedUserId="android.uid.system"
          -->


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!--需要系统权限-->
    <!--uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
                android:name=".Note.NoteContentActivity" />
        <activity
            android:name=".Note.NoteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task.TaskActivity"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AsyncActivity"/>

        <receiver
                android:name="com.hfad.relife.Alarm.LoongggAlarmReceiver">
            <intent-filter>
                <action android:name="com.loonggg.alarm.clock"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Alarm.ClockAlarmActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
                android:name=".Usage.UsageActivity">
        </activity>

    </application>
</manifest>